.education {
    padding: 30px 20px;
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__photo {
        width: 50%;
       height:50%;
    }
    &__column {
        width: calc( 100% - 50px )/2;
    }
    &__column:not(:last-child) {
        margin-right: 50px;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    &__student {
       width: 600px;
       font-size: 2rem;
    }
}